<h1>Burgers App</h1>

<p>Choose the perfect burger!</p>
<ul>
  {{#each burgers}}
    <li>
      <p>Name: {{burger_name}}</p>
      <p>Eaten?: {{devoured}}</p>
      <p>Time Eaten: {{date}}</p>
    </li>
  {{/each}}
</ul>

<h2>Add a Burger!</h2>

<form class="create-form" action="/" method="POST">

  <div class="form-group">
    <label for="auth">Burger:</label>
    <input type="text" id="auth" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured:</label>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not eaten yet. </div>
  </div>

  <button type="submit">Add Quote</button>
</form>
